<ion-content>
  <ion-item>
    <div class="form-container">
      <ion-img src="assets/CheckOunt.png"></ion-img>
      <app-form-alert [msg]="errorMSG"></app-form-alert>
      <div class="form">
        <form [formGroup]="form" (ngSubmit)="signupEmail()">
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input required formControlName="name" type="text"></ion-input>
          </ion-item>
          <div *ngIf="form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched)">
            <app-form-alert [classItem]="true" *ngIf="form.controls['name'].errors?.['required']" msg="Debe ingresar un Nombre"></app-form-alert>
            <app-form-alert [classItem]="true" *ngIf="form.controls['name'].errors?.['maxLength']" msg="El nombre debe tener un máximo de 60 caracteres"></app-form-alert>
            <app-form-alert [classItem]="true" *ngIf="form.controls['name'].errors?.['pattern']" msg="El nombre no debe tener números ni caracteres especiales"></app-form-alert>
          </div>
          <ion-item>
            <ion-label position="floating">E-Mail</ion-label>
            <ion-input required formControlName="email" type="text"></ion-input>
          </ion-item>
          <div *ngIf="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)">
            <app-form-alert [classItem]="true" *ngIf="form.controls['email'].errors?.['required']" msg="Debe ingresar un email"></app-form-alert>
            <app-form-alert [classItem]="true" *ngIf="form.controls['email'].errors?.['email']" msg="El email debe ser una dirección válida"></app-form-alert>
          </div>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input required formControlName="password" type="password"></ion-input>
          </ion-item>
          <div *ngIf="form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['email'].touched)">
            <app-form-alert [classItem]="true" *ngIf="form.controls['password'].errors?.['required']" msg="Debe ingresar una contraseña"></app-form-alert>
          </div>
          <ion-button class="button email-button" type="submit" color="primary" [disabled]="form.invalid || loading">
            <ion-icon *ngIf="!loading" name="mail-outline"></ion-icon> 
            <span *ngIf="!loading" class="button-text">Registrar</span>
            <ion-spinner *ngIf="loading" name="circular"></ion-spinner>
          </ion-button>
        </form>
      </div>

      <ion-row>
        <a routerLink="/auth/signin">¿Ya tienes Cuenta? <strong>Iniciar Sesión</strong></a>
      </ion-row>
    </div>
  </ion-item>
