<ion-row class="menu-buttons">
  <ion-col size="6">
    <ion-button routerLink="/check-ounts" class="home-button" expand="block" color="primary" expand="block">
      CheckOunts
    </ion-button>
  </ion-col>
  <ion-col size="6">
    <ion-button routerLink="/balance" class="home-button" expand="block" color="primary" expand="block">
      Mi Balance
    </ion-button>
  </ion-col>
  <!-- <ion-col size="4">
    <ion-button class="home-button" expand="block" color="primary" expand="block">
      Mis Gastos
    </ion-button>
  </ion-col> -->
</ion-row>