.menu-buttons{
    width: 95%;
    margin: auto;
    margin-bottom: 15px;
    ion-button{
        color: #ffff;
        font-weight: 600;
        font-size: 15px;
    }
}

.home-button{
    text-transform: none;
}