ion-title{
    margin-top: 70px;
    font-size: 20px;
}

ion-card{
    margin-top: 40px
}

.title{
    text-align: center;
    margin: 5px auto;
    margin-bottom: -50px;
    color: var(--ion-color-secondary);
}

