<ion-header>
  <ion-toolbar color="primary">
    <ion-img class= "nav_logo" src="assets/nav_logo.png"></ion-img>
    <ion-buttons slot="end">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-row>
            <ion-col class="title" size="12">
              <ion-label>
                Tu Balance Total
              </ion-label> 
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-card-title class="amount">{{checkOunts.userTotalBalance | currency: "USD"}}</ion-card-title>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-title class="title-section">
          Tus Balances por CheckOunt
        </ion-title>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-card class="empty-array" *ngIf="checkOunts.checkOunts.length == 0">
        <ion-label>
          No estas en ningún checkOunt.
        </ion-label>
      </ion-card>
    </ion-row>
    
    <div *ngIf = "checkOunts.checkOunts.length > 0">
      <ion-row *ngFor="let co of checkOunts.checkOunts"><!--ItemCard-->
        <ion-col class="item-card" size="12" >
          <ion-card>
            <ion-item-sliding>
            <ion-item class="card">
              <ion-grid fixed>
                <ion-row>
                  <ion-col size="9">
                    <ion-row>
                      <ion-card-title class="card-title">{{co.payload.doc.data().name}}</ion-card-title>
                    </ion-row>
                  </ion-col>
                  <ion-col size="3" >
                    <ion-row *ngFor="let u of co.payload.doc.data().users">
                      <ion-label class="card-amount" *ngIf = "u.email == user.email">{{u.balance | currency: "USD"}}</ion-label>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="danger">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-card>
        </ion-col>
      </ion-row><!--ItemCard-->
    </div>
  </ion-grid>
</ion-content>
