<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/check-ounts"></ion-back-button>
    </ion-buttons>
    <ion-title class="bar-title">{{checkOunts.selected.name}}</ion-title>
  </ion-toolbar> 
  <ion-row class="toolbar-buttons" >
    <ion-col size="6" [ngClass]="{active: section.e}" (click)="selectExpenses()">
      <ion-item color="primary">
        <ion-icon slot="start" name="cash-outline"></ion-icon>
        Gastos
      </ion-item>
    </ion-col>
    
    <ion-col size="6" [ngClass]="{active: section.c}" (click)="selectCounts()">
      <ion-item color="primary">
        <ion-icon name="swap-horizontal-outline"></ion-icon>
        Cuentas
      </ion-item>
    </ion-col>
    
  </ion-row>
</ion-header>

<ion-content>
  <app-counts *ngIf = "section.c"></app-counts>
  <app-expenses *ngIf = "section.e"></app-expenses>
</ion-content>

<ion-footer *ngIf="section.e">
  
  <ion-fab vertical="bottom" horizontal="center">

    <ion-fab-button size="large" color="secondary" routerLink="/check-ounts/add-expense">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

  </ion-fab>
  <ion-toolbar color="medium">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6" class="user-balance">
          <ion-row>
            <ion-col size="12">
              <ion-label class="footer-item-title">Mis Gastos:</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-label class="footer-item-data">{{checkOunts.checkOuntExpenses | currency: checkOunts.selected.currency}}</ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="6" class="total-balance">
          <ion-row>
            <ion-col size="12">
              <ion-label class="footer-item-title">Gastos Totales:</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-label class="footer-item-data">{{checkOunts.checkOuntTotalExpenses | currency: checkOunts.selected.currency}}</ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>

<ion-footer *ngIf="section.c">
  
  <ion-fab vertical="bottom" horizontal="center">

    <ion-fab-button size="large" color="secondary" routerLink="/check-ounts/add-pay">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

  </ion-fab>
  <ion-toolbar color="medium">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6" class="user-balance">
          <ion-row>
            <ion-col size="12">
              <ion-label class="footer-item-title">Mi Balance:</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-label class="footer-item-data">{{checkOunts.checkOuntBalance | currency: checkOunts.selected.currency}}</ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="6" class="total-balance">
          <ion-row>
            <ion-col size="12">
              <!-- <ion-label class="footer-item-title">Gastos Totales:</ion-label> -->
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <!-- <ion-label class="footer-item-data">{{checkOunts.checkOuntTotalExpenses | currency: checkOunts.selected.currency}}</ion-label> -->
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>



