<ion-header>
  <app-modal-header [title]="checkOunt.payload?.data().name" defaultHRef="/check-ounts"></app-modal-header>
  <app-toolbar-buttons [expensesSection]="section.e" [countsSection]="section.c" (selectSection)="selectSection($event)"></app-toolbar-buttons>
</ion-header>

<ion-content>
  <app-form-alert *ngIf="errorMSG" [msg]="errorMSG"></app-form-alert>
  <app-expenses *ngIf = "section.e && !errorMSG" (delete)="deleteExpense($event)" [expensesList]="expensesList" [errorMSG]="errorMSG" [loading]="loading"></app-expenses>
  <app-counts *ngIf = "section.c && !errorMSG" (deletePay)="deletePay($event)" [checkOuntID]="checkOunt.payload?.id" [users]="checkOunt.payload?.data().users" [payList]="payList" [errorMSG]="errorMSG" [loading]="loading"></app-counts>
</ion-content>

<app-expenses-footer *ngIf="section.e" [checkOunt]="checkOunt" [COTotalExpenses]="COTotalExpenses" [userTotalExpenses]="userTotalExpenses"></app-expenses-footer>
<app-counts-footer *ngIf="section.c" [checkOunt]="checkOunt" [COTotalExpenses]="COTotalExpenses" [userBalance]="userBalance"></app-counts-footer>




