.title{
    margin: 20px auto;
    text-align: center;
    font-size: 25px;
    max-width: 70%;    
}

.amount{
    margin: 0 auto 10px auto;
    text-align: center;
    max-width: 95%;
    color: var(--ion-color-secondary);
    font-size: 30px;
}
.payFor{
    margin: 0 auto 10px auto;
    text-align: center;
    font-size: 14px;
    span{
        font-weight: 900;
        color: var(--ion-color-medium);
    }
}

.card-title{
    font-size: 25px;
    font-weight: 400;
    margin: 10px auto 5px 0;
    color: var(--ion-color-secondary);
}

.card-amount{
    margin: 19px auto;
    padding: 0;
    font-size:18px
}

.item-card{
    ion-card{
        margin: 0;
        &:hover{
            border-left: solid var(--ion-color-primary) 5px;
        }
    }
}

.card-container{
    margin: 15px auto;
}
.card-email{
    color: var(--ion-color-medium);
    font-size: 14px;
}