<div class="container-list">
  <ion-row *ngIf="loading">
    <ion-col size="12" class="spinner-container">
        <ion-spinner name="circular" color="medium"></ion-spinner>
    </ion-col>
  </ion-row>
  
  
  <ion-row  *ngIf="checkOunts.length == 0 && !loading">
    <ion-col size="12">
      <ion-card class="empty-array">
        <ion-label>
          No estas en ningún checkOunt.
        </ion-label>
      </ion-card>
    </ion-col>
  </ion-row>
  
  <div *ngIf="checkOunts.length > 0 && !loading">
    <ion-row *ngFor="let co of checkOunts"><!--ItemCard-->
      <ion-col class="item-card" size="12">
        <ion-card>
          <ion-item-sliding>
            <ion-item class="card" [routerLink]="['/check-ounts/co', co.payload.doc.id]">
              <ion-grid fixed>
                <ion-row>
                  <ion-card-title class="card-title">{{co.payload.doc.data().name}}</ion-card-title>
                </ion-row>
                <ion-row>
                  <ion-card-content class="card-content">{{co.payload.doc.data().description}}</ion-card-content>
                </ion-row>
              </ion-grid>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="delete(co.payload.doc.id)">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-card>
      </ion-col>
    </ion-row><!--ItemCard-->
  </div>
</div>