<app-modal-header title="Nuevo CheckOunt"></app-modal-header>

<ion-content>
<ion-grid fixed>
  <ion-row *ngIf="errorMSG">
    <ion-col size="12">
      <app-form-alert [msg]="errorMSG"></app-form-alert>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <app-check-ount-data [form]="form"></app-check-ount-data>
        <app-participants-data [arrayControls]="arrayControls" (removeUser)="removeUser($event)" (addUser)="addUser()"></app-participants-data>
      </form>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-button (click)="onSubmit()" class="create_button" block color="secondary" type="submit" [disabled]="form.invalid || formUsers.invalid || loading">
        <span *ngIf="!loading">Crear</span>
        <ion-spinner *ngIf="loading" name="circular"></ion-spinner>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
