ion-grid{
    align-content: space-around;
}

ion-col{
    display: flex;
    justify-content: center;
}

ion-icon{
    margin-top: 50px;
    font-size: 300px;
    font-weight: 600;
}

ion-button{
    width: 80%;
}