ion-title{
    margin: 15px auto;
    text-align: center;
    font-size: 25px;
}
.title{
    margin: 15px auto;
    text-align: center;
    font-size: 25px;
}

.card-title{
    font-size: 18px;
    font-weight: 400;
    margin: 10px auto 0 10px;
    color: var(--ion-color-secondary);
}

.card-content{
    margin: 0 10px 10px 10px;
    padding: 0;
    font-size:14px
}

.item-card{
    ion-card{
        margin: 0;
        &:hover{
            border-left: solid var(--ion-color-primary) 5px;
        }
    }
}
.card-amount{
    text-align: right;
    margin: 20px;
    margin-right: 0;
    width: 100%;
    color: var(--ion-color-success);
    font-size: 16px;
}